:root {
  color-scheme: dark;
}

body {
  max-width: 650px;
  margin: 0 auto;
  padding: 2rem 0;
  font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
  @media (max-width: calc(650px + 4rem)) {
    max-width: none;
    margin: 0 2rem;
  }
}

footer {
  border-top: 1px solid white;
  margin-top: 2rem;
  padding-top: 2rem;
}

main > * { 
  margin: 1em 0;
}

a {
  color: #8c8cff;
  &:hover {
    text-decoration: none;
  }
}

code {
  padding: 0.2rem 0.4rem;
  border: 1px solid white;
  border-radius: .25rem;
  white-space: nowrap;
}

img {
  width: 30%;
  float: inline-end;
  margin-inline-start: 1rem;
  margin-bottom: 1rem;
  @media (max-width: 500px) {
    width: 100%;
  }
}


/*
This file evolved from Natural Selection:
https://github.com/frontaid/natural-selection
*/
