# Eleventy build directory
build/

# Dependency directories
node_modules/

# Dependency lock files
package-lock.json
bun.lockb

# dotenv
.env

# temp and cache directory
.temp/
.cache/

# Serverless directories
.serverless/