// ------------ Universal ------------

*, *::before, *::after {}

// ------------ Root ------------

:root {}
html {}
body {}

// ------------ Content Sectioning ------------

h1, h2, h3, h4, h5, h6 {}
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

header {}

nav {
  ul, ol {}
  li {}
  a {}
}

main {}

article {}

section {}

aside {}

search {}

footer {}

address {}


// ------------ Text Content ------------

p, ol, ul, pre, blockquote, figure, hr, dl {}

p {}

ol, ul {
  ol, ul {}
}
ol {}
ul {}
li {
  li {}
}

pre {
  code {}
  samp {}
}

blockquote {}

figure {}
figcaption {}

hr {}

dl {}
dt {}
dd {}

// ------------ Inline Text ------------

a {}
a:visited {}
a:hover {}
a:active {}

strong {}
b {}

em {}
i {}

q {}
cite {}

s {}

mark {}

small {}
sub {}
sup {}

code {}

dfn {}
abbr {}
abbr[title] {}

var {}
kbd {}
kbd kbd {}
samp {}

u {}

data {}
time {}

del {}
ins {}


// ------------ Embedded Content ------------


img {}
svg {}
video {}
canvas {}
audio {}
object {}

noscript {}


// ------------ Table Content ------------


table {}
caption {}
col:first-child {}
thead {}
tbody {}
tfoot {}
tr {}
th {}
td {}

// ------------ Interactive Elements ------------

details {}
details[open] {}
summary {}
details[open] summary {}


/*
This file evolved from Natural Selection:
https://github.com/frontaid/natural-selection
*/
